body {
        width: 960px;
        margin: 20px auto;
        font-family: Tahoma;
      }
 
      header {
        border-bottom: 1px solid gray;
        padding: 8px 0 8px 0;
      }
 
      nav {
        padding: 16px 0 16px 0;
        border-bottom: 1px solid gray;
      }
 
      a {
        margin-right: 6px;
      }
 
      section {
        float: left;
        width: 600px;
        padding: 0 8px 0 0;
        border-right: 1px solid gray;
        margin-bottom: 8px;
        box-sizing: border-box;
      }
 
      aside {
        float: left;
        width: 360px;
        padding: 0 0 0 8px;
        box-sizing: border-box;
      }
 
      footer {
        padding: 16px 0 16px 0;
        border-top: 1px solid gray;
        clear: left;
      }
      
      table {
        font-family: Tahoma;
        border-collapse: collapse;
        width: 80%;
        margin: 0 auto;
      }
 
      th {
        padding: 18px;
      }
 
      td {
        padding: 12px;
      }
 
      th,td {
        border: solid 1px #e6e6e6;
      }
 
      tr {
        background-color: #EDEDED;
      }
 
  #heading {
  background-color: #0c0330;
  color: white;
      }
